body{
  background-color: #f4f5f7;
}
.calendarStartside{
  margin-top: 18%;
  margin-left: 5%;
  width: 550px;
  border: 1px solid black;
  padding: 10px;
  clear: left;
  background-color: white;
}
.calendarMinesider{
clear: left;
width: 550px;
margin: 3%;
border: 1px solid black;
padding: 10px;
background-color: white;
}
.adminMelding{
float: left;
margin-left: 5%;
}
#adminMelding{
  text-align: center;
}
.mineSider{
  float:left;
  margin: 3%;
  background-color: #f7ffef;
  border:1px solid black;

}
.Rot {
  position: absolute;
  top:30%;
  left: 35%;
  background-color: #f7bab2;
  padding: 30px;
  width: 500px;
  border: 3px solid black;
  border-radius: 25px;
  text-align: justify;
}
.button {
  padding-left: 10px;
  font-size: 19px;
  background-color: white;
}
.spaceBetweenSearchAndLogout {
  padding-left: 15px;
}
.nav-link {
  font-size: 15px;
  padding-left: 5px;
}
.arrangementTable {
  font-weight: bold;
}

.arrangementLink {
  color: red;
}
.table-responsive{
  padding-left: 10px;
}
.startside {
  padding-left: 10px;
}
.btn-default{
  background-color: #c9efef;
  margin-right: 5px;
}
#bilde{
  align-content: center;
}

.minsideTabell{
  padding: 7px
}
